body {
    overflow-y: scroll;
}

#app{
    min-height: 100vh;
}

#chartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

#textChartWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#text-next-to-slider {
    margin-top: 4rem;
    max-width: 1250px;
}

.source {
    font-size: 80%;
}

@media screen and (max-width: 2000px) {
    #textChartWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
