#chartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

#app{
    min-height: 100vh;
}

/*
 * Timeline settings
 */
.left {
    left: 0;
}

.right {
    left: 50%;
}

.timeline {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
}

.segment {
    position: relative;
    width: 50%;
    padding: 1rem;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
}

.segment::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

.right::after {
    left: -5.3px;
}

@media screen and (max-width: 768px){
    .right {
        left: 0;
    }

    .right::after {
        left: 0;
    }

    .left::after {
        right: auto;
        left: 0;
    }

    .timeline::after {
        left: 5px;
    }

    .segment {
        width: 100%;
    }
}